<IfModule mod_rewrite.c>
RewriteEngine On

# Kondisi untuk mengecualikan akses ke file maintenance.html
# RewriteCond %{REQUEST_URI} !^/maintenance.php$ [NC]

# Kondisi untuk mengecualikan akses ke folder assets
# RewriteCond %{REQUEST_URI} !^/assets/ [NC]

# Kondisi untuk mengecualikan akses dari IP tertentu (ganti dengan IP Anda)
# RewriteCond %{REMOTE_ADDR} !^140\.213\.1\.10$

# Arahkan semua permintaan ke halaman maintenance
# RewriteRule ^(.*)$ /maintenance.php [R=302,L]

# Aturan untuk menangani permintaan .php (jika diperlukan setelah maintenance)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>
