.coin-animation {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.coin-animation.show {
    opacity: 1;
}

.icon-nav{
    width: 35px;
}

.card-mine{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
}

.card-mine-body{
    padding-bottom: 10px;
    border-bottom: 1px solid #6e7275;
}

.title-img{
    padding: 0;
}

.title-img h6{
    font-size: 2.5vw;
}

.card-mine-img{
    width: 65px;
    border-radius: 10px;
}

.card-mine-img-cover{
    position: absolute;
    z-index: -10px;
    width: 65px;
    border-radius: 10px;
}
.modal-body .card-mine-img{
    width: 105px;
    border-radius: 10px;
}

.modal-body .card-mine-img-cover{
    position: absolute;
    z-index: -10px;
    width: 105px;
    border-radius: 10px;
}

.card-mine-profit span{
    font-size: 8px;
}

.icon-coin{
    max-width: 10px;
}

.card-mine-footer{
    font-size: 10px;
    display: flex;
    padding: 10px 5px 0px 5px;
}

.card-lvl{
    padding-right: 10px;
    border-right:  1px solid #6e7275;
    font-size: 3vw;
}

.card-fee{
    padding-left: 10px;
    font-size: 3vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px; /* Adjust the max width as needed */
}

.card-fee-modal{
    font-size: 4vw;
}
.card-fee-modal .icon-coin{
    max-width: 15px;
}







